:root{
    --mainColor: #f03173;
}
body{
    height: 5000px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: var(--mainColor);
    font-weight: 700;
}

.navbar{
    /* background-color: teal; */
}